* {
    box-sizing: border-box;
    /* outline: 1px dotted red; */
}
  
body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}


.text-container {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.text-container p {
    text-align: left;
}

/* nav styles */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #95A844;
    max-height: 100px;
    padding: 20px;
}

.brand {
    display: flex;
    max-width: 20%;
    max-height: auto;
}

.image-leaf {
    max-height: 100px;
    max-width: auto;
    padding: 10px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.contact li {
    padding: 10px;
}

/* main styles */
main {
    padding: 35px;
}

.main-container {
    background-color: #CAD593;
}

.selected-app-container {
    
}

.app-image {
    max-width: 100%;
}

.tile-image {
    max-width: 100%;
}

/* responsive styles */
@media screen and (min-width: 480px) {
    .main-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px;
    }

    .selected-app-container {
        width: 70%;
    }

    .app-tiles {
        width: 30%;
    }

}