/* charcoal: #EFE7E6 tan: #51344D grullo: #EFE7E6*/

* {
    box-sizing: border-box;
    /* outline: 1px dotted red;*/
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    background-color: #FFF9DD;
    color: #51344D;
}
/* general font family and sizing */
h1, h2, h3, h4, a {
    font-family: 'Halant', serif;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}


.text-container {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.text-container p {
    text-align: left;
}

h2.standalone {
    color: #51344D;
}

img {
    max-width: 100%;
}

/* nav styles */
nav a {
    font-size: 28px;
}

.flex-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #EFE7E6;
    max-height: 140px;
    padding: 20px;
}


.brand-container {
    display: flex;
}

.brand {
    display: flex;
    flex-direction: column;
}

.image-leaf {
    display: none;
    max-height: 100px;
    max-width: auto;
    padding: 10px;
    margin: auto;
}

.fa-bars {
    color: white;
    opacity: 0.75;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.contact-links {
    text-decoration: none;
}
.contact-links:link, .contact-links:visited{
    color: #51344D;
}

.desktop.contact {
    display: none;
}

.mobile.contact {
    display: none;
    outline: solid 2px #EFE7E6;
    margin: 10px;
}
.mobile.contact li {
    outline: solid 2px #EFE7E6;
}

.mobile.contact a {
    color: #EFE7E6;
}

/* main styles */
main {
    margin: 10px;
}

.main-container, section.aboutMe {
    background-color: #EFE7E6;
    margin: 20px;
    padding: 10px;
}

.main-container > * {
    padding: 10px;
}

.tile-image-container {
    max-height: 200px;
    /* background-color: #EFE7E6; */
}

.selected-app-container > * {
    padding: 10px 10px;
}

.selected-app-container a:link, .selected-app-container a:visited {
    color: #51344D;
    padding: 10px;
    font-size: 20px;
}

/* section.aboutMe {
    background-color: #CD4545;
    margin: 20px;
} */

/* responsive styles */
@media screen and (min-width: 650px) {
    /* nav */
    .contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px;
    }
    
    .contact li {
        padding: 10px;
    }
    
    .image-leaf {
        display: block;
    }

    .desktop.contact {
        display: flex;
    }
    
    .menu-button {
        display: none;
    }

    /* main */
    .main-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px;
    }

    .selected-app-container {
        width: 70%;
    }

    .app-tiles {
        width: 30%;
    }

}